
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


#grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 500px;
    width: 500px;
}

.square {
    border: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.easy {
    height: calc(100% / 10 );
    width: calc(100% / 10 );
}
.medium {
    height: calc(100% / 9 );
    width: calc(100% / 9 );
}
.hard {
    height: calc(100% / 7 );
    width: calc(100% / 7 );
}



.highlight {
    background: cyan;
}